name: Windows GUI

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-gui.yml'
      - 'gui/src/**'

  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-gui.yml'
      - 'gui/src/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Cache Qt
        id: cache-qt
        uses: actions/cache@v4
        with:
          path: qt/
          key: ${{ runner.os }}-QtCache

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          aqtversion: '==3.1.*'
          version: '6.4.1'
          target: 'desktop'
          install-deps: 'true'
          modules: 'qtserialport'
          arch: 'win64_mingw'
          dir: '${{ github.workspace }}/qt'
          cached: ${{ steps.cache-qt.outputs.cache-hit }}

      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
            platform: x64
            static: 0

      - name: Build
        working-directory: ${{github.workspace}}
        run: |
          cd gui/src
          dir
          qmake HeadTracker.pro
          mingw32-make

      - name: WinDeployQT
        working-directory: ${{github.workspace}}
        run: |
          mkdir output
          cp gui/src/release/HeadTracker.exe output/
          # cp gui/src/css/stylesheet.css output/
          # cp gui/src/css/Background.svg output/
          cd output
          curl -L -o bossac.exe https://github.com/dlktdr/HeadTracker/raw/master/gui/bin/bossac.exe
          windeployqt HeadTracker.exe

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: headtracker_win
          path: ${{github.workspace}}/output
          retention-days: 90
          